
.flexRowContent--container__desktop--accordion :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  display: flex;
  flex-direction: column;
  max-width: 900px;
}

.flexRowContent--container__desktop--accordion{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;


}




.flexCol--container__desktop--accordion{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 900px;



}

.flexColChild--container__desktop--accordion{
  background: transparent;
  border: 2px solid transparent;
  width: inherit;

}

.flexColChild--characteristic{
  height: 100%;
  display: flex;
  justify-content: center;
}

.flexColChild--container__desktop--accordion {
  width: inherit;
}

.flexRowContent--container__items{
  position: relative;
}



.flexRowContent--container__items :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child{
  width: 100% !important;
}

.flexRowContent--container__items :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child{
  width: auto !important;
}


/* Add to cart Button*/

.flexRow--container__addtocart--pdp{
  display: flex;
  justify-content: end;
}

.flexRowContent--container__addtocart--pdp{
  width: 50%;
}

.flexRowContent--container__addtocart--pdp :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-button){
  background-color: rgb(237,152,47);
  border: inherit;
  margin-right: 20px;
  margin-left: 20px;
}

/* Free Samples*/


.flexCol--container__skuList{
  display: flex;
  align-items: end;
}

.flexColChild--container__skuList{
  height: 100%;
  width: 50%;
  color: #fff;
  border: 1px solid #dee0e4;
  border-bottom: none;
  background: #f7f6f7;
  border-radius: 4px;

}

.flexColChild--container__skuList:first-child{
  padding: 0px 20px;
}

.flexColChild--container__skuList :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child{
  display: flex;
  justify-content: end;
  width: 50% !important;

}



:global(.vtex-rich-text-0-x-paragraph--sku-list__title) {
  width      : 100%;
  height     : 36px;
  display    : flex;
  align-items: center;
  background: #ED982F;
}

:global(.vtex-rich-text-0-x-paragraph--sku-list__title) {
  width      : 100%;
  height     : 36px;
  display    : flex;
  align-items: center;
  background: #3B214F;
}

.flexCol--sku-list :global(.vtex-rich-text-0-x-paragraph--sku-list__title) {
  background-color: #3B214F;
  color           : #fff;
  font-size       : 14px;
  width           : 100%;
  height          : 100%;
  display         : flex;
  align-items     : center;
  padding-left    : 8px;
}

/*Subscriptions*/

.flexRow--product__subscriptions{
  display: flex;
  justify-content:end;
  align-items: end;
}

.flexRowContent--product__subscriptions{
  width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: #f7f6f7;
}

.flexRowContent--product__subscriptions :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  width: 100% !important;
  padding: 0px 20px;
  margin-bottom: 20px;
}


.flexRowContent--product__subscriptions :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :last-child :global(.vtex-button) :global(.vtex-button-label){
  font-size: 0;
}

.flexRowContent--product__subscriptions :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :last-child :global(.vtex-button) :global(.vtex-button-label) ::after{
  content: "choose your subscription";
  font-size:14px;
}


.flexRowContent--product__subscriptions :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-button){
  color:  #6f9000;
  background-color: #fff;
  border: none;
}

.flexRowContent--product__subscriptions :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-button):hover{
  color: #566a15;
  text-decoration: underline;
}

/* accordion*/

.flexRowContent--container__pdf--information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}





.flexRowContent--container__characteristics{
  margin-top: 40px;
  margin-bottom: 60px;
}



.flexRowContent--container_title--logo :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child{
  width: 100%;
}

.flexRowContent--container_title--logo{
  align-items: center;
  position: relative;
}

.flexRowContent--container__guarantee :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child{
  width: auto !important;
}

.flexRowContent--container__guarantee :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child{
  width: 100% !important;
}




@media screen and (max-width: 768px) {

  .flexColChild--container__skuList,.flexRowContent--product__subscriptions{
    width: 100% !important;
  }

  .flexRowContent--container__characteristics{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flexRow--container__addtocart--pdp{
    display: flex;
    justify-content: start !important;
  }
}
