.productAssemblyGroupRequiredTag--product__subscriptions{
  display: none;
}

.textInputValue{
  display: none;
}

.productAssemblyGroupName--product__subscriptions{
  display: none;
}


.productAssemblyGroupNameRow--product__subscriptions :last-child :global(.vtex-button){
  border: 1px solid rgb(88,237,155);
  background-color: rgb(88,237,155);
  color: #fff;
  border-radius: 4px;
}

.optionsInputValueDropdown :global(.vtex-styleguide-9-x-dropdown) :global(.vtex-dropdown__label){
    display: none;
}

.optionsInputValueDropdown :global(.vtex-styleguide-9-x-dropdown) :global(.vtex-dropdown__container):hover{
  border: 2px solid #3B214F;
}

