

.homeIcon{
  display: none;
}


.breadcrumb__separator{
  font-size: 0;
}

.hover-c-link:hover{
  font-size: 24;
  color: black
}


.container{
  margin-top: 20px;
  margin-left: 60px;
}


@media screen and (max-width:768px){
  .container{

    margin-left: 10px;
  }
}
