.topbarSection{
  display: none;
}


.titleWrapper{
  background-color: #3B214F;
}

.price{
  text-transform: lowercase;
    font-size: 24px;
    margin-left: auto;
    color: #909da3;
    text-align: left;
    font-family: raleway, sans-serif;
    font-weight: 500;
    display: block;
}

.priceCTA{
  font-size: 0px;
}

.priceCTA::after{
  content: "From";
  text-transform: lowercase;
    font-size: 24px;
    margin-left: auto;
    color: #909da3;
    text-align: left;
    font-family: raleway, sans-serif;
    font-weight: 500;
    display: block;

}

.selected{
  border: 2px solid #3B214F;
}

.buttonWrapper:hover{
  border: 2px solid #3B214F;
}
.titleIcon{
  background:#ED982F;
}
