.homeLink::before,
.link
{
    content        : 'home';
    font-family    : "Nunito Sans", sans-serif;
    font-size      : 14px;
    font-weight    : 400;
    color          : #000000;
    line-height    : 17px;

    text-transform : lowercase;
    padding-bottom: 3px !important;
    padding        : 0;
    text-decoration: none;
}

.term{
  font-family    : "Nunito Sans", sans-serif;
    font-size      : 14px;
    font-weight    : 400;
    color          : #000000;
    line-height    : 17px;

    text-transform : lowercase;
    padding-bottom: 3px !important;
    padding        : 0;
    text-decoration: none;
}

.homeLink:hover ::before{
  text-decoration: underline;
  color: #000000;
}

.link:hover{
  text-decoration: underline;
  color: #000000  !important;
}

/* .link:last-child {
    text-decoration: unset;
} */

.homeIcon {
    display: none;
}

.caretIcon {
    display: none;
}

.arrow::before {
    display     : inline-block;
    content     : "/";
    color       : #000000;
    margin-right: 3px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--general__results--breadcrumb) .container {
    margin: 10px 0px;
}

.homeLink::after{
  display: none;
}
