.imageElement--banner__one-desktop {
  width: auto;
  height: 75px;
  margin: 0;
  max-width: 100%;
}

/* .imageElement--space {
  margin-left: -50px !important;
}

.imageElement--space1 {
  margin-left: -180px !important;
}

.imageElement--space2 {
  margin-left: -310px !important;
}

.imageElement--space3 {
  margin-left: -430px !important;
} */
