.backToTopButtonContainer :global(.vtex-button) {
  background: #3b214f;
  border: #3b214f;
}

.backToTopButtonContainer :global(.vtex-button__label) {
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif;
}

.backToTopButtonContainer {
  left: 1rem;
  bottom: 1.5rem;
  opacity: 0.8;
}

.imageElement--grid__one-desktop:hover {
  filter: brightness(0.9);
}

.vtex-store-components-3-x-imageElement--grid__one-desktop {
  transition: all 0.3s ease-in;
}

@media screen and (min-width: 769px) and (max-width: 1024px)  {
  .imageElement--home__slider-one-desktop {
    width: 1024px !important;
  }
}

.imageElement--banner__one-desktop {
  width: auto;
  height: 75px;
  margin: 0;
  max-width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .imageElement--grid__one-desktop {
    width: 100% !important;
  }

}

@media screen and (min-width: 321px) and (max-width: 425px) {
.imageElement--grid-mobile {
  height: 50vw;
}
}
