.paragraph--footer-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Bebas";
  color: #838787;
  font-size: 40px;
  line-height: 1.15;
  text-transform: uppercase;
}

.paragraph--footer-title::after {
  content: "";
  display: block;
  width: 200px;
  border: 1px solid #838787;
  margin: 20px auto;
  opacity: 0.5;
}

.paragraph--footer__text-one {
  font-weight: bold;
  font-family: inherit;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 13px;
  font-family: "Nunito Sans", sans-serif;
}

.paragraph--footer__text-two {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
}

.paragraph--footer__custo-one {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Raleway", sans-serif;
}

.paragraph--footer__custo-two {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}

.paragraph--footer__text-company {
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

.paragraph--footer-number {
  font-size: 24px !important;
  line-height: 24px;
  color: #fff;
  margin-top: 0.8rem;
  margin-bottom: 0;
  font-family: "Nunito Sans", sans-serif;
}

.paragraph--footer-week {
  color: #fff;
  font-size: 13px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .paragraph--footer-title {
    font-size: 28px;
  }
}

@media (max-width: 425px) {
  .paragraph--footer__custo-two, .paragraph--footer__text-company {
    text-align: center;
  }
}
