.flexRowContent--global__footer-desktop {
  display: flex;
  flex-direction: column;
}

.flexRowContent--group__text-footer {
  display: flex;
  flex-direction: column;
}

.flexRowContent--gruoup__col-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flexRowContent--gruoup__col-one .stretchChildrenWidth {
  width: 33.3% !important;
  padding: 0 15px;
  text-align: center;
}

.flexCol--footer__desktop-three {
  padding-top: 40px;
  padding-bottom: 20px;
}

.flexCol--footer__desktop-four {
  display: flex;
  flex-direction: column;
}

.flexRowContent--block__4-one {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flexCol--box-4-1-one-footer {
  display: flex;
  flex-direction: column;
}

.flexColChild--box-4-1-one-footer {
  height: auto;
}

.flexCol--box-4-1-two-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flexRowContent--col-1-menu-footer {
  display: flex;
  flex-direction: column;
}

.flexCol--footer__desktop-four {
  background-color: #200B29;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.flexRowContent--block-4-two-footer {
  display: flex;
  flex-direction: column;
}

.flexCol--box-4-four-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flexCol--box-4-one-footer-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flexColChild--box-4-one-footer-2:first-child {
  width: 200px;
}

.flexColChild--box-4-four-footer:last-child {
  width: 100px;
}

.flexRow--col-1-menu-footer {
  padding-left: 50px;
}

.flexRow--group__text-footer {
  width: 290px;
  height: 185px;
  background-color: #f3f2f2;
  padding: 10px;
  margin-left: 5px;
}

.flexCol--footer__desktop-two {
  padding-left: 30px;
  padding-right: 30px;
}

.flexRowContent--block-one-2-two-content-footer {
  align-items: center;

}

@media (min-width: 1400px) {

  .flexCol--footer__desktop-one,
  .flexCol--footer__desktop-three {
    width: 1280px;
    margin: 0 auto;
  }

  .flexCol--footer__desktop-two,
  .flexColChild--footer__desktop-four {
    width: 1280px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .flexCol--footer__desktop-four {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 425px) {
  .flexCol--footer__desktop-three .flexRowContent--gruoup__col-one .stretchChildrenWidth {
    width: 50% !important;
  }
}

@media (max-width: 1024px) {
  .flexRowContent--block-one-2-two-content-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flexRow--col-1-menu-footer {
    padding-left: 13.5px;
  }

  .flexCol--footer__desktop-four {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .flexRowContent--block__4-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flexRowContent--block__4-one :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child,
  .flexRowContent--block__4-one :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 100% !important;
  }

  .flexCol--box-4-1-one-footer {
    align-items: center;
  }

  .flexRow--col-1-menu-footer {
    padding-right: 10px;
  }

  .flexCol--box-4-1-two-footer {
    padding-top: 20px;
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .flexCol--box-4-one-footer-2 {
    flex-direction: column;
  }

  .flexRowContent--box--social-footer {
    display: flex;
    flex-direction: row;
  }

  .flexCol--box-4-four-footer {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .flexRowContent--block-4-two-footer {
    margin-top: 20px;
  }

  .flexColChild--box-4-four-footer:last-child {
    width: 40%;
  }
}

@media screen and (min-width: 376px) and (max-width: 394px) {
  .flexRow--col-1-menu-footer {
    padding-right: 0px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .flexCol--box-4-1-two-footer .flexColChild--box-4-1-two-footer:first-child {
    margin-right: 43px;
  }

  .flexColChild--box-4-1-two-footer {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .flexCol--box-4-1-two-footer .flexColChild--box-4-1-two-footer:first-child {
    margin-right: 34px;
  }

  .flexColChild--box-4-1-two-footer {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .flexRow--col-1-menu-footer {
    padding-right: 0 !important;
  }

  .flexCol--box-4-1-two-footer .flexColChild--box-4-1-two-footer:first-child {
    margin-right: 23px;
  }

  .flexCol--box-4-1-two-footer .flexColChild--box-4-1-two-footer:last-child {
    margin-left: -13px;
  }

  .flexRow--col-1-menu-footer {
    padding-left: 10px;
  }
}
