.minicartIconContainer :global(.vtex-store-icons-0-x-cartIcon){
    display: none;
}

.minicartIconContainer::after{
    content: url('/arquivos/minicart.svg');
    width: 45px;
    height: 45px;
    display: inherit;
}