.paragraph--heaader-number {
  color: #3b214f;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Nunito Sans",sans-serif;
}


.container--heaader-number,
.container--heaader-week {
  display: flex;
  justify-content: flex-end;
}

.paragraph--heaader-week {
  color: #3b214f;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0s;
  font-family: "Nunito Sans",sans-serif;
}

.paragraph--box-1 {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph--box-2 {
  font-size: 12px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph--menu-curtains{
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
    color: #000;
    padding-left: 0.7rem;
}
