.sellingPriceValue--showcase__selling--price {
    line-height: 12px;
    font-size  : 14px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    color      : #000000;
}

.currencyCode--showcase__selling--price {
    font-size: 0;
    display  : flex;
}

.currencyContainer--showcase__selling--price {
    display: flex;
}

.currencyContainer--showcase__selling--price::before {
    display  : block;
    content  : '£';
    font-size: 14px;
}

.sellingPriceValue--showcase__selling--price::before {
    content    : 'from';
    font-size  : 12px;
    line-height: 12px;
    font-weight: 400;
}